.tab-content {
  display: none;
}

 #right {
  float: right;
}

#middle {
  padding-left: 37px;
  margin-left: auto;
  margin-right: auto;
}

#left {
  float: left;
}

#visible {
  font-size: 1em;
  font-weight: bold;
  max-width: 750px;
}

#Home {
  background-color: #bccfd6;
  opacity: .75;
  font-size: 1em;
  font-weight: bold;
  max-width: 750px;
  min-height: 500px;
}

#About {
  background-color: #bccfd6;
  opacity: .75;
  font-size: 1em;
  font-weight: bold;
  max-width: 750px;
  min-height: 500px;
}

#Projects {
  background-color: #bccfd6;
  opacity: .75;
  font-size: 1em;
  font-weight: bold;
  max-width: 750px;
  min-height: 500px;
}

#Projects a {
  font-size: 1em;
}
